<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de clientes</title>
</head>

<body>
    <h2>Cadastrar clientes</h2>
    <form method="post">
        <input type="text" name="Nome" placeholder="Nome">
        <input type="text" name="Sobrenome" placeholder="Sobrenome">
        <input type="text" name="Empresa" placeholder="Empresa">
        <button type="submit">Cadastrar</button>
    </form>
    <br>
    <a href="/">Home Page</a>
</body>

</html>