<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
</head>

<body>
    <div id="app">
        {{mensagem}} <br /> {{nome}}
    </div>

    <div id="app-2" v-html="nome">
    </div>

    <div id="app-3" v-if="visivel">
        <h2>Maria Isabel</h2>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

    <div id="app-6">
        <p v-html="message"></p>
        <input v-model="message">
    </div>

    <div id="app-7">
        <ol>
            <!--
            Now we provide each todo-item with the todo object
            it's representing, so that its content can be dynamic.
            We also need to provide each component with a "key",
            which will be explained later.
          -->
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
        </ol>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                mensagem: 'Hello Vue!',
                nome: 'Maria Isabel'
            }
        });

        var app2 = new Vue({
            el: '#app-2',
            data: {
                nome: '<h2>Maria Isabel</h2>'
            }
        });

        var app3 = new Vue({
            el: '#app-3',
            data: {
                visivel: true
            }
        });

        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [{
                    text: 'Learn JavaScript'
                }, {
                    text: 'Learn Vue'
                }, {
                    text: 'Build something awesome'
                }]
            }
        });

        var app5 = new Vue({
            el: '#app-5',
            data: {
                message: 'Hello Vue.js!'
            },
            methods: {
                reverseMessage: function() {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        });

        var app6 = new Vue({
            el: '#app-6',
            data: {
                message: ''
            }
        });

        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{ todo.text }}</li>'
        })

        var app7 = new Vue({
            el: '#app-7',
            data: {
                groceryList: [{
                    id: 0,
                    text: 'Vegetables'
                }, {
                    id: 1,
                    text: 'Cheese'
                }, {
                    id: 2,
                    text: 'Whatever else humans are supposed to eat'
                }]
            }
        });
    </script>
</body>

</html>